body {
  font-size: large;
  display: flex;
  justify-content: center;
 
  
}
input {margin-top: 20px;}


input:invalid {
  border-color: #c56c18;
}



label {
  display: inline-block;
  width: 200px;
}
.item {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
}

.put{ margin-top: 20px;}
.mult {
  margin-right: 580px;
}
.but {
  background-color: #f0f0e8;
 border-radius: 8px;
  color: rgb(15, 12, 12);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}
.erreur{
  background: red;
}